.game-board {
   .game-board__container {
      position: relative;
      display: grid;
      grid-template-areas: 
      "pick1 pick2"
      "span1 span2";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: start;
      
      
      .symbol:nth-child(1){
         grid-area: pick1;
      }
      .symbol:nth-child(2) {
         grid-area: pick2;

      }
      span {
         color: white;
         font-size: 1.6em;
         text-transform: uppercase;
         // text-align: center;
         margin: 20px auto;
      }
      span:nth-child(1){
         grid-area: span1;

      }
      span:nth-child(2){
         grid-area: span2;
         
      }
      .glow::after {
         position: absolute;
         transform: translate(-50%, -50%);
         content: '';
         border: 80px solid white;
         border-radius: 50%;
         opacity: 0.05;
         background-color: #fff;
         z-index: -3;
      }
      .glow::before {
         position: absolute;
         transform: translate(-50%, -50%);
         content: '';
         border: 110px solid white;
         border-radius: 50%;
         opacity: 0.03;
         background-color: #fff;
         z-index: -3;
      }
      .glow2::after {
         position: absolute;
         transform: translate(-50%, -50%);
         content: '';
         border: 150px solid white;
         border-radius: 50%;
         opacity: 0.021;
         background-color: #fff;
         z-index: -3;
      }
   }

   
}