.game-board {
   @include lg {
      width:100%;
      height: 100%;
      font-size:2.0em;
   }
   
   .game-board__container {
      position: relative;
      display: grid;
      grid-template-areas: 
      "pick1 pick2"
      "span1 span2";
      grid-template-columns: 1fr 1fr  1fr;
      grid-template-rows: 1fr auto;
      align-items: center;
    
      
      @include lg {
         grid-template-areas: 
         "span1 playagain span2"
         "pick1 playagain pick2";
         grid-template-rows: 200px auto;
         // grid-gap: 50px;
         justify-items: center;
         .play-again {
            grid-area: playagain;
            
            .play-again__text {
               font-size:2.5em;
            }
            .play-again__button {
               font-size:1.0em;
               width: auto;
               padding: 0 50px;
            }
         }
      }

      
      .symbol:nth-child(1){
         grid-area: pick1;
         @include lg {
            width: 250px;
         }
       
      }
      .symbol:nth-child(1)::after{
         @include lg {
            top: -40px; bottom: -40px;
            left: -40px; right: -40px;

         }
       
      }
      .symbol:nth-child(2) {
         grid-area: pick2;
         @include lg {
            width: 250px;
            grid-area: pick2;
         }
      }
      .symbol:nth-child(2)::after{
         @include lg {
            top: -40px; bottom: -40px;
            left: -40px; right: -40px;
         }
       
      }
      span {
         color: white;
         font-size: 1.6em;
         text-transform: uppercase;
         // text-align: center;
         margin: 20px auto;
      }
      .container__you{
         grid-area: span1;
     
      }
      .container__enemy {
         grid-area: span2;
      }
     
      .glow::after {
         position: absolute;
         transform: translate(-50%, -50%);
         content: '';
         border: 80px solid white;
         border-radius: 50%;
         opacity: 0.05;
         background-color: #fff;
         z-index: -3;
         @include lg {
            border: 210px solid white;
         }
      }
      .glow::before {
         position: absolute;
         transform: translate(-50%, -50%);
         content: '';
         border: 110px solid white;
         border-radius: 50%;
         opacity: 0.03;
         background-color: #fff;
         z-index: -3;
         @include lg {
            border: 250px solid white;
         }
      }
      .glow2::after {
         position: absolute;
         transform: translate(-50%, -50%);
         content: '';
         border: 150px solid white;
         border-radius: 50%;
         opacity: 0.021;
         background-color: #fff;
         z-index: -3;
         @include lg {
            border: 300px solid white;
         }
      }
   }

   
}