.rock {  
   grid-area: ROCK;
   background-image: url('../images/icon-rock.svg');

}
.rock::after {
   background: linear-gradient(hsl(349, 71%, 52%),hsl(349, 70%, 56%));
   box-shadow: 0 8px 1px -1px hsla(349, 71%, 52%, 0.5);
}

