.rules-bar {
   display: flex;
   position: absolute;
   bottom: 40px;
   justify-content: center;
   align-items: center;
   height: 45px;
   @include lg {
      position: fixed;
      right: 50px;
   }
   .rules {
      background-color: transparent;
      border: 2px solid hsl(217, 16%, 45%);
      width: 130px;
      height: 45px;
      border-radius: 10px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-size: 1.8em;
   }
}